@import url("../assets/fonts/fonts.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  width: 100vw !important;
  padding: 0 5vw;
  margin: 0 auto !important;
  z-index: 3;
  position: fixed;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.84)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 1.6rem;
  height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .mobile-header {
  display: none;
}

.header .mobile-popup__header {
  display: none;
}

.header__links {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__links .links__same-site {
  min-width: 35%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__links .links__same-site .links_item {
  margin: 0 10px;
}

.header__links .close-menu {
  display: none;
}

.header__links .mobile-info {
  display: none;
}

.header img {
  height: 1.3rem;
  margin-top: 3px;
}

@media screen and (max-width: 1024px) {
  #mobile-menu {
    overflow: auto;
  }
  .header {
    width: 100vw;
    padding: 0;
    height: auto;
    top: 0;
    z-index: 5;
  }
  .header .mobile-header {
    padding: 10px 5% 10px 5%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.84)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .mobile-header #burger img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header .header__links {
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 10;
    position: absolute;
    left: -110vw;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000;
  }
  .header .header__links.active {
    left: 0;
  }
  .header .header__links .mobile-popup__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header .header__links .mobile-popup__header .close-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #000;
  }
  .header .header__links .mobile-popup__header .close-menu img {
    width: 2.1rem;
    height: 2.1rem;
  }
  .header .header__links .mobile-popup__header .img-link {
    display: block !important;
  }
  .header .header__links .mobile-popup__header .img-link img {
    height: 13px;
  }
  .header .links__same-site,
  .header .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .links__same-site .links_item,
  .header .header__links .links_item {
    text-align: left;
    margin: 0;
    width: 100%;
    opacity: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
    font-family: "RF Dewi Expanded";
    padding: 6px 5%;
  }
  .header .links__same-site .links_item.img-link,
  .header .header__links .links_item.img-link {
    display: none;
  }
  .header .links__same-site .mobile-info,
  .header .header__links .mobile-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 3rem;
  }
  .header .links__same-site .mobile-info .links_item,
  .header .header__links .mobile-info .links_item {
    width: 100%;
  }
  .header .links__same-site {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .header .links__same-site,
  .header .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .links__same-site .links_item,
  .header .header__links .links_item {
    font-size: 20px;
    line-height: 24px;
  }
}

.section-wrapper.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-wrapper.presentation h1 {
  text-align: center;
  z-index: 2;
}

.section-wrapper.presentation .section__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  margin-left: 0%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-wrapper.presentation .section__content p.section_text {
  margin: 1rem 0;
}

.section-wrapper.presentation .section__content .action-button,
.section-wrapper.presentation .section__content h2,
.section-wrapper.presentation .section__content h3,
.section-wrapper.presentation .section__content p {
  display: block;
  text-align: left;
}

.section-wrapper.presentation .video-block {
  right: 0;
  margin-top: -10rem;
}

.section-wrapper.presentation .video-block video,
.section-wrapper.presentation .video-block img {
  width: 100%;
}

.section-wrapper.presentation .video-block.mobile {
  display: none;
}

.section-wrapper.shops .section__content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5vw;
}

.section-wrapper.shops .shops-images {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section-wrapper.shops .shops-images .images__block {
  width: 100%;
  position: relative;
}

.section-wrapper.shops .shops-images .images__block .block_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
}

.section-wrapper.shops .shops-images .images__block video,
.section-wrapper.shops .shops-images .images__block img {
  width: 100%;
  top: 0;
}

.section-wrapper.our-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-wrapper.preview-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  z-index: 5;
}

.section-wrapper.preview-block .preview-block__bg {
  width: 100%;
}

.section-wrapper.preview-block .preview-block__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section-wrapper.preview-block.right-content .section__content {
  max-width: 60%;
}

.section-wrapper.preview-block .section__content h2,
.section-wrapper.preview-block .section__content ul,
.section-wrapper.preview-block .section__content p {
  opacity: 1;
}

.section-wrapper.preview-block .section__content ul li,
.section-wrapper.preview-block .section__content p {
  font-size: 2rem;
}

.section-wrapper.preview-block.first {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-wrapper.preview-block.first ul li,
.section-wrapper.preview-block.first p {
  text-align: left;
}

.section-wrapper.preview-block.first ul {
  margin: 2.6rem 0 2.5rem 0;
}

.section-wrapper.preview-block.second {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-wrapper.preview-block.second ul li,
.section-wrapper.preview-block.second p,
.section-wrapper.preview-block.second h3 {
  text-align: right;
}

.section-wrapper.preview-block.second ul {
  margin: 2.4rem 0 5rem 0;
}

.section-wrapper.video-block-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-wrapper.video-block-holder.left .section__content {
  max-width: 45%;
  margin: 0 2.5% 0 auto;
}

.section-wrapper.video-block-holder.left .section__content h2,
.section-wrapper.video-block-holder.left .section__content h3,
.section-wrapper.video-block-holder.left .section__content p {
  text-align: right;
}

.section-wrapper.video-block-holder.left .video-block {
  left: 0;
}

.section-wrapper.video-block-holder .section__content {
  z-index: 5;
}

.section-wrapper.video-block-holder.right .section__content {
  max-width: 48%;
  margin: 0 auto 0 2.5%;
}

.section-wrapper.video-block-holder.right .section__content h2,
.section-wrapper.video-block-holder.right .section__content h3,
.section-wrapper.video-block-holder.right .section__content p {
  text-align: left;
}

.section-wrapper.video-block-holder.right .video-block {
  right: 0;
}

.section-wrapper.collaborations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-wrapper.collaborations .section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-wrapper.collaborations .image-block {
  overflow: hidden;
  position: relative;
}

.section-wrapper.collaborations .image-block__description {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  color: #fff;
  z-index: 7;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: "Object Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-wrapper.collaborations .image-block:hover .image-block__description {
  opacity: 1;
}

html {
  font-size: 10px;
}

body {
  background: #000000;
  margin: 0 auto !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: .5;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container.extended {
  width: 90%;
  display: block;
  text-align: left;
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000000;
  padding: 0 5vw;
  width: 100vw;
}

.section-wrapper {
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.section-wrapper .section__content {
  position: relative;
  z-index: 3;
}

.section-wrapper.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 95%;
  margin-bottom: 1rem;
}

.first-screen__title--font {
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-size: 3rem;
}

.first-screen__text {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 120%;
  color: #FFFFFF;
  margin: 1rem 0;
  opacity: 0.7;
  max-width: 90%;
}

.section_title {
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  display: block;
  text-align: left;
}

.section_title.small {
  font-weight: 900;
  font-size: 2rem;
}

.heading {
  margin-bottom: 2.4rem;
  max-width: 75%;
}

.section_text {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 120%;
  text-align: right;
  color: #fff;
  opacity: 0.7;
}

.white {
  color: #fff !important;
  opacity: 1;
}

.section__images {
  width: 100%;
}

.section__images img {
  display: block;
  width: 100%;
}

.section__images.flex-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__images.flex-3 > div {
  width: 25%;
}

.video-block {
  max-width: 50%;
  width: 100%;
  z-index: 1;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 2px;
}

#fp-nav a span {
  background: #fff !important;
  opacity: .7;
}

.fp-tableCell {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  vertical-align: top !important;
}

.mobile-image {
  display: none;
}

.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
}

.video-bg::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.first-screen__video-block h1 {
  font-size: 2.5rem;
  margin-top: 15px;
}

.first-screen__video-block h1 span {
  font-weight: 600;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
  border-radius: 10px;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  border-radius: 10px;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.first-screen__video-block {
  max-width: 40%;
  width: 100%;
  z-index: 2;
  position: absolute;
  right: 0;
  border-radius: 2px;
}

/* Enabled */
.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.collaborations__text {
  padding-left: 50%;
}

.collaborations__title.heading {
  text-align: right;
  max-width: 100%;
}

.collaboration__section {
  background-image: url(../assets/images/collaborations-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.collaboration__section.section {
  padding-left: 0;
  padding-right: 0;
}

.collaborations__content {
  margin-bottom: 45px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.shops {
  position: absolute;
  top: 0;
  left: 0;
}

.shops::after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.shops__video {
  min-height: 100%;
}

.shops__video video {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.shops__title,
.shops__text {
  text-align: left;
  opacity: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shops__title {
  margin-bottom: 35px;
  max-width: 50%;
  font-size: 4rem;
}

.shops__text {
  max-width: 60%;
  font-size: 3rem;
}

.our-works__text {
  text-align: left;
  opacity: 1;
  margin-bottom: 15px;
  max-width: 45%;
  font-size: 1.5rem;
}

.section_title.our-works__title {
  max-width: 65%;
}

.our-works__title {
  font-size: 2.6rem;
}

.our-works__block {
  position: relative;
}

.work__text {
  position: absolute;
  color: #fff;
  z-index: 7;
  top: 0;
  height: 100%;
  width: 100%;
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.our-works__block:hover .work__text {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.production .section__content,
.preview-sell .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.production {
  background-image: url(../assets/images/production-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.production__img-mobile {
  display: none;
}

.preview-sell__text {
  font-family: "Object Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 120%;
  color: #FFFFFF;
}

.section-wrapper.preview-block .section__content .preview-sell__text {
  font-size: 1.5rem;
}

.last-screen__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-screen__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.last-screen__title span {
  font-size: 4rem;
  font-weight: 800;
}

.last-screen__email {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 120%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
  color: #FFFFFF;
}

.last-screen {
  background-image: url(../assets/images/last-screen-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.block_text-spb {
  padding: 0 3rem 2.5rem 5vw;
}

.block_text-msk {
  padding: 0 5vw 2.5rem 3rem;
}

.block_text-spb .section_title {
  text-align: left;
}

.block_text-msk .section_title {
  text-align: right;
}

.site {
  background-image: url(../assets/images/site-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.site.section {
  padding-left: 0;
  padding-right: 0;
}

.site .section__content {
  padding: 0 5vw;
}

.image-block__description {
  text-transform: uppercase;
}

.our-works__block img {
  opacity: 0.8;
}

.collaborations__row-1,
.collaborations__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.collaborations__row-1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collaborations__row-1 .image-block {
  width: 16.66%;
}

.collaborations__row-1 .image-block__description {
  font-size: 2.5rem;
  font-weight: 800;
}

.collaborations__row-2 .image-block__description {
  font-size: 1.4rem;
  font-weight: 800;
}

.section-wrapper.our-works--ipad {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-works--ipad .our-works__text {
  margin-bottom: 4rem;
}

.collaborations--ipad .collaborations__row-1,
.collaborations--ipad .collaborations__row-2 {
  width: 100%;
}

.section-wrapper.collaborations--ipad {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.large-vertical {
  min-height: 700px !important;
  height: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (max-width: 6000px) {
  html {
    font-size: 18px;
  }
  .first-screen__title {
    font-size: 4rem;
  }
  .first-screen__title--font {
    font-size: 4rem;
  }
  .first-screen__text {
    font-size: 2.5rem;
    max-width: 100%;
  }
  .section_title {
    font-size: 4rem;
  }
  .section_text {
    font-size: 2.5rem;
  }
  .our-works__title,
  .collaborations__title {
    font-size: 2.8rem;
  }
  .collaborations__content {
    margin-bottom: 25px;
  }
  .collaborations__content .heading {
    margin-bottom: 0.6rem;
  }
  .our-works__text,
  .collaborations__text {
    font-size: 1.7rem;
  }
  .our-works__text {
    max-width: 70%;
    margin-bottom: 3.5rem;
  }
  .section-wrapper.preview-block .section__content ul li,
  .section-wrapper.preview-block .section__content p {
    font-size: 3rem;
  }
  .section-wrapper.preview-block .section__content .preview-sell__text {
    font-size: 2rem;
  }
  .last-screen__title {
    font-size: 4rem;
  }
  .last-screen__title span {
    font-size: 6rem;
  }
  .last-screen__email {
    font-size: 3.5rem;
  }
  .header__links .links__same-site .links_item:first-child {
    margin: 0;
  }
  .header__links .links__same-site .links_item:not(:first-child) {
    margin: 0 35px;
  }
  .logo-4k {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-4k img {
    margin: 0;
    height: 1.8rem;
  }
  .header__links .links__same-site {
    min-width: 60%;
  }
}

@media screen and (max-width: 2850px) {
  .links__same-site a {
    font-size: 2rem;
  }
  .prime-shop {
    font-size: 2rem;
  }
}

@media screen and (max-width: 2560px) {
  html {
    font-size: 10px;
  }
  .our-works__text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 2048px) {
  .section__images.flex-3 > div {
    width: 23%;
  }
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 78%;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 10px;
  }
  .section_text {
    font-size: 2rem;
  }
  .first-screen__title {
    font-size: 3rem;
  }
  .first-screen__title--font {
    font-size: 3rem;
  }
  .first-screen__text {
    font-size: 2rem;
    max-width: 90%;
  }
  .section_title {
    font-size: 3rem;
  }
  .section_text {
    font-size: 2rem;
  }
  .section__images.flex-3 > div {
    width: 25%;
  }
  .our-works__text {
    max-width: 45%;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .our-works__title {
    font-size: 2.6rem;
  }
  .section-wrapper.preview-block .section__content ul li,
  .section-wrapper.preview-block .section__content p {
    font-size: 2rem;
  }
  .section-wrapper.preview-block .section__content .preview-sell__text {
    font-size: 1.5rem;
  }
  .last-screen__title {
    font-size: 2.5rem;
  }
  .last-screen__title span {
    font-size: 4rem;
  }
  .last-screen__email {
    font-size: 2rem;
  }
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 90%;
  }
  .collaborations__content .heading {
    margin-bottom: 2.4rem;
  }
}

@media only screen and (max-height: 937px) {
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 90%;
  }
}

@media only screen and (max-height: 930px) {
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 100%;
  }
}

@media only screen and (max-height: 780px) {
  .collaborations__content {
    margin-bottom: 20px;
  }
  .section_title.collaborations__title {
    margin-bottom: 20px;
  }
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 85%;
  }
}

@media only screen and (max-height: 720px) {
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 80%;
  }
}

@media only screen and (max-height: 650px) {
  .our-works__text {
    max-width: 100%;
  }
  .section_title.our-works__title {
    max-width: 100%;
  }
  .section__images.flex-3 > div {
    width: 22%;
  }
}

@media only screen and (max-height: 600px) {
  .our-works__text {
    font-size: 1.5rem;
  }
  .section_title.our-works__title {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  .collaborations__content {
    margin-bottom: 15px;
  }
  .section_title.collaborations__title {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1600px) {
  .shops__title {
    max-width: 65%;
  }
  .shops__text {
    max-width: 75%;
  }
}

@media screen and (max-width: 1536px) {
  .collaborations__text {
    padding-left: 35%;
  }
  .shops__title {
    max-width: 75%;
  }
  .shops__text {
    max-width: 85%;
  }
  .our-works__text {
    max-width: 65%;
  }
  .collaborations__row-2 .image-block__description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1440px) {
  .first-screen__title {
    max-width: 100%;
    font-size: 2.5rem;
  }
  .first-screen__text {
    font-size: 1.5rem;
  }
  .section-wrapper.presentation .section__content {
    max-width: 55%;
  }
  .section_text.small {
    font-size: 1.6rem;
  }
  .shops__title {
    font-size: 3rem;
    max-width: 65%;
  }
  .shops__text {
    font-size: 2rem;
    max-width: 65%;
  }
  .work__text {
    font-size: 2rem;
  }
  .collaborations__row-1 .image-block__description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1366px) {
  .section-wrapper.collaborations .collaborations__row-3 .image-block__description {
    font-size: 1.1rem;
  }
  .collaborations__row-2 .image-block__description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .collaborations__text {
    padding-left: 25%;
  }
}

@media screen and (max-width: 1150px) {
  .header__links .links__same-site .links_item:not(:first-child) {
    margin: 0 15px;
  }
}

@media screen and (max-width: 1110px) {
  .collaborations__text {
    padding-left: 0;
  }
  .shops__title {
    max-width: 75%;
  }
  .shops__text {
    max-width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .first-screen {
    min-height: 700px;
  }
  .first-screen__bg {
    background-image: url(../assets/images/first-screen-bg.png);
    background-repeat: no-repeat;
  }
  .video-bg > video {
    display: none;
  }
  .fp-responsive .fp-section,
  .fp-responsive .fp-slide,
  .fp-responsive .fp-tableCell {
    height: auto !important;
  }
  .images__spb {
    background-image: url(../assets/images/shop-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .images__msk {
    background-image: url(../assets/images/shop-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .preview-sell {
    background-image: url(../assets/images/preview-sell-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .shops {
    position: static;
  }
  .shops__video video {
    display: none;
  }
  .last-screen {
    min-height: 700px;
  }
  .first-screen__title {
    font-size: 2rem;
  }
  .first-screen__title--font {
    font-size: 2.5rem;
  }
  .first-screen__text {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .first-screen__video-block {
    margin-bottom: 80px;
  }
  .section-wrapper.presentation .section__content {
    margin-bottom: 40px;
  }
  .section-wrapper.collaborations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .section-wrapper.collaborations .image-block__description {
    opacity: 1;
  }
  .collaboration__section {
    padding-left: 0;
    padding-right: 0;
  }
  .collaborations__content {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 40px;
  }
  .section_text {
    font-size: 1.5rem;
  }
  .section_title {
    font-size: 2rem;
  }
  .shops__title {
    max-width: 100%;
  }
  .shops__text {
    max-width: 100%;
  }
  .site {
    padding-left: 0;
    padding-right: 0;
  }
  .our-works .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .work__text {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
  }
  .production,
  .preview-sell {
    min-height: 700px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last-screen__content {
    min-height: 700px;
  }
  .section-wrapper.presentation {
    min-height: 700px;
  }
  .section__images.flex-3 > div {
    width: 25%;
  }
  .section_title.our-works__title {
    max-width: 65%;
  }
  .collaborations__row-1,
  .collaborations__row-2 {
    width: 100%;
  }
  .collaborations__row-1 .image-block {
    width: 33.33%;
  }
  .collaborations__row-1 .image-block:nth-child(-n+2) {
    width: 50%;
  }
  .collaborations__row-1 .image-block:nth-child(n+9) {
    width: 25%;
  }
  .collaborations__row-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collaborations__row-2 .image-block {
    width: 25%;
  }
  .collaborations__row-2 .image-block:nth-child(n+9) {
    display: none;
  }
  .collaborations__row-1 .image-block__description,
  .collaborations__row-2 .image-block__description {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
  .first-screen__text {
    max-width: 100%;
  }
  .section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 !important;
    padding-top: 52px !important;
  }
  .mobile-image.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  video.hidden {
    display: none !important;
  }
  #fp-nav {
    display: none;
  }
  .section-wrapper {
    top: 0px;
    height: 100%;
    padding-top: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .section_title.small {
    font-size: 1.6rem;
  }
  .section_title.heading {
    margin-bottom: 20px;
  }
  .section__content {
    max-width: 100% !important;
  }
  .container {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .container.extended {
    width: 90%;
  }
  .video-block {
    max-width: 100%;
  }
  .first-screen__video-block {
    position: static;
  }
  .first-screen__video-block {
    max-width: 55%;
  }
  .first-screen__bg {
    background-position-x: -110px;
  }
  .section-wrapper.presentation h1 {
    text-align: center;
  }
  .section-wrapper.presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%;
  }
  .section-wrapper.presentation .video-block {
    position: initial;
    width: 100%;
    margin-top: 0;
  }
  .section-wrapper.presentation .section__content {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2rem;
  }
  .section-wrapper.video-block-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .section-wrapper.video-block-holder.left .section__content {
    max-width: auto;
    margin: 0 2.5% 0 2.5%;
  }
  .section-wrapper.video-block-holder.right .section__content {
    max-width: 700px;
    margin: 0 2.5% 0 2.5%;
  }
  .section-wrapper.video-block-holder .video-block {
    position: relative;
    margin-top: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .section-wrapper.shops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section-wrapper.shops .section__content {
    max-width: 100%;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .section-wrapper.shops .shops-images {
    max-width: 100%;
    display: block;
  }
  .section-wrapper.shops .shops-images .images__block {
    width: 100%;
    min-height: 228px;
  }
  .section-wrapper.our-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-wrapper.preview-block {
    padding-top: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  .section-wrapper.preview-block .section__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    margin-top: 10px;
  }
  .section-wrapper.preview-block .section__content ul li,
  .section-wrapper.preview-block .section__content p {
    font-size: 1.2rem;
  }
  .section-wrapper.preview-block .section__content ul {
    margin: 1rem 0;
  }
  .section-wrapper.shops .section__content {
    min-height: 0;
  }
  .section-wrapper.shops .shops-images {
    position: static;
  }
  .images__spb,
  .images__msk {
    min-height: 350px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
  }
  .shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../assets/images/shop-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }
  .images__spb {
    background-image: url(../assets/images/shop-1-mobile.png);
  }
  .images__msk {
    background-image: url(../assets/images/shop-2-mobile.png);
  }
  .shops::after {
    background-color: transparent;
  }
  .block_text-spb .section_title {
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .block_text-msk .section_title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .shops__text {
    margin-bottom: 40px;
  }
  .collaboration__section {
    background-image: url(../assets/images/collaborations-bg-mobile.png);
    background-size: 100%;
  }
  .collaborations__title.heading {
    text-align: left;
  }
  .collaborations__text {
    text-align: left;
  }
  .section_title.our-works__title,
  .our-works__text {
    max-width: 100%;
  }
  .production .section__content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .production,
  .preview-sell {
    min-height: 500px;
  }
  .preview-sell .section__content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .section-wrapper.preview-block .section__content .preview-sell__text {
    font-size: 1.1rem;
  }
  .shops__title {
    margin-bottom: 20px;
  }
  .our-works__text {
    margin-bottom: 40px;
  }
  .production .section__content {
    margin-bottom: 40px;
  }
  .preview-sell__text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .first-screen__video-block {
    max-width: 70%;
  }
  .images__spb,
  .images__msk {
    min-height: 236px;
  }
  .collaboration__section .fp-tableCell {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section_text {
    font-size: 1.3rem;
  }
  .section_title {
    font-size: 1.5rem;
  }
  .section__images.flex-3 > div {
    width: 50%;
  }
  .site {
    background-size: 150%;
  }
  .production__img-mobile {
    display: block;
    background-color: #000000;
    width: 100%;
  }
  .production {
    display: block;
  }
  .section-wrapper.preview-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production {
    background-image: url(../assets/images/production-bg-mobile.png);
    background-size: 100%;
  }
  .preview-sell {
    background-image: url(../assets/images/preview-sell-bg-mobile.png);
    background-size: 100%;
  }
  .last-screen__title {
    font-size: 2rem;
  }
  .last-screen__title span {
    font-size: 2.5rem;
  }
  .collaborations__row-1 .image-block__description,
  .collaborations__row-2 .image-block__description {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .section-wrapper.shops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section-wrapper.shops .shops-images {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .section-wrapper.shops .shops-images video,
  .section-wrapper.shops .shops-images img {
    width: 100vw;
    top: 0;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 425px) {
  .first-screen__video-block {
    max-width: 100%;
    padding: 0 5%;
  }
  .first-screen__title {
    font-size: 1.5rem;
  }
  .first-screen__title--font {
    font-size: 2rem;
  }
  .first-screen__text {
    font-size: 1.2rem;
  }
  .first-screen__video-block h1 {
    font-size: 2rem;
  }
  .collaboration__section {
    background-size: 100%;
  }
  .site {
    background-size: 200%;
  }
  .production {
    background-size: 125%;
  }
  .last-screen__title {
    font-size: 1.5rem;
  }
  .last-screen__title span {
    font-size: 2.5rem;
  }
  .section-wrapper.collaborations .collaborations__row-3 .image-block__description {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .last-screen__title span {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */