.files {
  &__container {
    border-top: 1px solid var(--smoky-white);
    padding-top: 46px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
  }

  &__request {
    position: relative;
    flex: 0 0 33.33333%;
    margin-right: 30px;
    border-radius: 10px;
    padding: 40px 20px;
    padding-right: 60px;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-white);
    background-color: var(--light-carmine-pink);
    transition: background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      width: 25px;
      height: 8px;
      background-image: url(../img/arrow.svg);
      background-position: center;
      background-size: 25px 8px;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: var(--aquamarine-crayola);
      transition: background-color 0.3s;
    }
  }

  &__download {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.download-file {
  position: relative;
  flex: 1 1 50%;
  border: 1px solid var(--smoky-white);
  border-radius: 10px;
  padding: 24px 30px 25px 107px;
  color: inherit;
  transition: background-color 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../img/download.svg);
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__name {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  &__format {
    position: relative;
    margin-right: 6px;
    padding-right: 13px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      border-radius: 100%;
      width: 3px;
      height: 3px;
      background-color: var(--light-greenish-blue);
      transform: translateY(-50%);
    }
  }

  &:hover {
    background-color: var(--smoky-white);
    transition: background-color 0.3s;
  }

  &__format,
  &__size {
    font-size: 14px;
    line-height: 18px;
    color: var(--light-greenish-blue);
  }
}
