// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --medium-persian-blue: #005fac;
  --light-carmine-pink: #dc5656;
  --light-greenish-blue: #60829d;
  --smoky-white: #ebebeb;
  --night-blue: #282d4c;
  --lime-green: #4bca37;
  --aquamarine-crayola: #75b0e0;
  --light-grey: #d7d7d7;
}
